/* Base style */
.label {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

/* User bubble - tail on right */
.user-bubble {
    -fx-background-image: url("../images/user-bubble.png");
    -fx-background-size: 100% 100%;
    -fx-padding: 20px 30px 40px 25px;
    -fx-background-repeat: no-repeat;
}

/* Bot bubble - tail on left (flipped) */
.bot-bubble {
    -fx-background-image: url("../images/bot-bubble.png");
    -fx-background-size: 100% 100%;
    -fx-padding: 20px 25px 40px 40px;
    -fx-background-repeat: no-repeat;
}